body{


}

#sidebar {
  height: 100%;
  position: sticky;
  top: 0;
  background-color:black;
}

#sidebar .nav-link {
  font-weight: 500;
}

#sidebar .nav-link.active {
  background-color: #007bff;
  color: #fff;
}
